.login {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 230px;
  background: #F35B97;
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 0 60px #000;
}

.login-title {
  font-size: 26px;
  padding: 10px 0 0 0;
}

.login-char {
  display: inline-block;
  width: 100px;
  height: 600px;
  margin: 20px 10px;
  cursor: pointer;
  position: relative;
}
.login-char.invalid .login-select {
  border: 2px solid red;
}

.login-select {
  width: 100px;
  display: block;
  height: 100px;
  background: #0d1e25;
  border-radius: 10px;
  border: 2px solid #000000;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.login-select.active {
  border: 2px solid #fff;
}

.login-alphabet {
  display: none;
  background: black;
  box-shadow: 0 0px 20px 3px #f35b97;
  top: 0px;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
}

.login-footer {
  position: absolute;
  bottom: -45px;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  left: 0;
}

.login-alphabet.active {
  display: block;
}

.login-alphabet.hover-0 {
  top: 0px;
}

.login-alphabet.hover-1 {
  top: -102px;
}

.login-alphabet.hover-2 {
  top: -206px;
}

.login-alphabet.hover-3 {
  top: -310px;
}
.login-alphabet.hover-4 {
  top: -414px;
}

.login-alphabet.hover-5 {
  top: -518px;
}

.login-alphabet.hover-6 {
  top: -622px;
}

.login-options {
  width: 100px;
  display: block;
  height: 100px;
  background-size: 70%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #000;  
}

.login-options:hover, .login-options.active {
  border: 2px solid #fff;  
}

.app .xbox-info {
  margin: 30px auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.login.invalid {
  border: 2px solid red;
}

.signIn .logout {
  display: none;
}

/* firebase */

.signIn h2 {
  padding: 20px;
  margin: 0;
  text-align: center;
}

.firebaseui-list-item {
  display: block;
}
