#root {
  background: #0d1e25;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  z-index: 20;
  position: relative;
}

.app-header {
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: .5rem;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.app-header-round {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  background: #3B94B2;
  color: #fff;
  font-size: 2rem;
  margin-top: -2.5rem;
}

.app-header-score, .app-header-game {
  padding: 0 .3rem;
  width: 30%;
  display: block;
  font-size: 16px;
}

.app-header-game {
  text-align: right
}

.app-footer {
  text-transform: uppercase;
  color: #fff;
}

.app-game {
  box-sizing: border-box;
  padding: 10px;
}

.game-table {
  table-layout: fixed;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

.block-type {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.table-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
}

.table-block {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1.5px;
  background: rgba(69, 82, 91, 0.5);
}

.table-block_parent {
  cursor: default;
}

.table-block svg {
  width: 100%;
  height: auto;
}

.table-block svg g, .table-block svg path {
  stroke-width: 45;
  stroke: #3B94B2;
  transition: all .1s;
  transition-delay: 200ms;
}

.table-block__active svg path {
  stroke: #70ca49;
}

.table-block.pad-active {
  box-shadow: 0px 0px 20px 0px #ffffff;
  z-index: 20;
  background: #000000;
}

.table-block_parent {
  border: none;
  text-align: center;
  font-size: 2.6rem;
  vertical-align: bottom;
  transition: all 1s;
  background: none;
}

.table-block_parent .emoji-background {
  width: 80%;
  height: 80%;
  margin: 10%;
  box-sizing: border-box;
  border-radius: 50%;
  transition: all .1s;
  border: none;
  transition-delay: 200ms;
  font-size: 2.5rem;
  background-color: #3B94B2;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

.table-block_parent.table-block__active .emoji-background {
  background-color: #70ca49;
}
.table-block_parent.table-block__active svg {
  opacity: 1;
}

.table-block_parent svg {
  opacity: 0;
  transition: all .1s;
  transition-delay: 200ms;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.table-node--bottom svg {
  transform: rotate(180deg);
}

.loader {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #F35B97;
  z-index: 22;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
}

.loader.loader-active {
  transform: translateY(100%);
  transition: all 1s linear;
}

.loader-content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.loader-description {
  font-size: 3rem;
  font-weight: normal;
  padding: 3rem 0;
}

.loader-position--right {
  transform: translate(120%, 0px);
  visibility: hidden;
}

.loader-position--right.loader-active {
  visibility: visible;
  animation-name: slidein;
  animation-duration: 3s;
}

.loader-position--top {
  transform: translate(0%, -100%);
  visibility: hidden;
  line-height: initial;
}

.loader-start {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #0d1e25;
  font-size: 25px;
  padding: 55px 0;
  box-sizing: border-box;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.loader-position--top.loader-active {
  visibility: visible;
  transform: translate(0%, 0%);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.app-footer-next {
  cursor: pointer;
  display: block;
  height: 130px;
  width: 130px;
  line-height: 100px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  background: #70ca49;
  color: #fff;
  font-size: 2rem;
  margin-bottom: -3.5rem;
}

@keyframes slidein {
  0% {
    transform: translate(100%, 0);
  }

  20% {
    transform: translate(0%, 0);
  }

  80% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.xbox-info {
  display: block;
  position: relative;
  width: 300px;
  cursor: pointer;
}

.xbox-icon, .xbox-description {
  display: inline-block;
  vertical-align: middle;
}

.xbox-description {
  margin-left: 10px;
}

.logout {
  background: url('./logout.png') no-repeat center center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-size: 80%;
  position: fixed;
  top: 3px;
  left: 0;
  opacity: .4;
}

.screen-signIn h2 {
  padding: 30px;
  margin: 0;
  text-align: center;
}

.screen-signIn .logout, .atstand .logout {
  display: none;
}

/* toplist  */
.toplist {
  display: block;
  margin: 0 auto;
}

.toplist h2 {
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.toplist ol {
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  margin: 0 auto;
  list-style: none;
  padding: 0 20px;
}

.toplist-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}

.toplist-item .name span {
  padding: 0 10px;
  color: #3B94B2;
}

.toplist-item .score {
  color: #70ca49;
}


.atstand .app-header-round {
  top: 50%;
  position: fixed;
  left: -30px;
  right: 0;
  height: 130px;
  width: 130px;
  line-height: 130px;
  font-size: 4rem;
}

.atstand .app-footer-next {
  top: 50%;
  position: fixed;
  right: -30px;
  height: 130px;
  width: 130px;
  line-height: 130px;
  font-size: 2rem;
  transform: rotate(-90deg);
}

.atstand .app-header-game {
  font-size: 2rem;
}